
.jumbotron{text-align: center; font-family: 'ZCOOL XiaoWei', serif; color: #5680E9; background-color: #66FCF1 !important; }

.header_static {
    text-align: center; color: #3A31EF ; font-family: 'Roboto Condensed', sans-serif;  background-color: #4ABDAC
}

div {
    background-color: #4ABDAC ; 
}
background-color {
    color: #4ABDAC
}

img {
    height: 500px; width: 300px
}
