body {
    text-align: center; background-color: lightblue; font-family: playlist; 
}
img{
    width: 500px;
    border-style: solid; border-color: #91274F;
    padding:2px; margin:0px;
}
table,th,td{
    border:2px solid black;
}